body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
}

#album-title {
    max-width: 100%; /* Prevent the image from exceeding the screen width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Center alignment fix */
    margin: 0 auto; /* Center the image */
    padding: 10px; /* Optional: Add some space around the image */
}

@media (max-width: 768px) {
    #album-title {
        max-width: 80%; /* Scale down for smaller screens */
    }
}

@media (max-width: 480px) {
    #album-title {
        max-width: 90%; /* Further scale down for very small screens */
    }
}

.container {
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#countdown {
    font-size: 1.5em;
    margin-top: 10px;
}

#album-cover {
    margin-top: 20px;
    max-width: 300px;
    border-radius: 10px;
}

#background-music {
    margin-top: 20px;
}
